version: "3.8"
services:
  db:
    image: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: unigo
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
    ports:
      - "3333:3306"
    volumes:
      - dbdata:/var/lib/mysql/data
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    links:
      - db
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
      MYSQL_ROOT_PASSWORD: root
    ports:
      - 8033:80
    depends_on:
      - db
volumes:
  dbdata:
